<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-Local-WareHouse|Ecommerce Website design</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
 
   <%- include("./partials/navbar.ejs") %>
  
    <br>
    <br>
    <!--shop-->
        <section class="shop container">
                <div class="filter">
                    <a href="/product"><button class="all">All</button></a>
                    <a href="/product/Cargos"><button class="cargos">Cargos</button></a>   
                    <a href="/product/Tshirts"><button class="Tshirts">Tshirts</button></a>
                    <a href="/product/Hoodies"><button class="Hoodies">Hoodies</button></a>
                </div>
                <h2 class="section-title">Cargos</h2> 
                <!--content-->
                <% if (product.length> 0) { %>
                    <div class="shop-content">
                        <% product.forEach((prod, index) => { %>
                            <% if (prod.type==="Cargos") { %>
                                <a href="/product/product-details/<%=prod._id%>" style="color:black;"> <div class="product-box">
                                    <img src="/images/<%= prod.image %>" alt="" class="img"></a>
                                <h2 class="product-title"><%= prod.name %></h2>
                                <span class="price"><%= prod.price %>$</span><br>
                                <%if(prod.Quantity<'5'){ %> <span style="color: red; font-style: italic;">Hurry, only <%=prod.Quantity%> left!</span><%}%>
                                <div class="add-cart">
                                    <i class='bx bxs-shopping-bag-alt'  onclick="addToCart('<%= prod._id %>')"></i>
                                    <i class="bx bx-heart" onclick="addToWishlist('<%= prod._id %>')"></i>
                                </div>
                            </div>
                            <% if ((index + 1) % 3 === 0) { %>
                                </div>
                                <div class="shop-content">
                            <% } %>
                            <% } %>
                        <% }) %>
                    </div>
                <% } else { %>
                    <p>There are no products to display...</p>
                <% } %>
   <br>
   <br>
   <br>
   
   

    </section>

     
        
       

    <script src="/js/main.js"></script>
    

    
</body>
</html>
