<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>

  <body>
    <%- include('./partials/navbar.ejs')%>

    <section class="users">
      <% if (order.length> 0) { %>
        <div class="board">
            <table width="100%" class="center-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <% order.forEach((prod, index)=> { %>
                    <tr >
                        <td class="people">
                            <img src="/images/<%= prod.image %>" alt="" class="img">
                            <div class="people-de">
                                <h2 class="product-title"><%= prod.name %></h2> 
                                <span class="price"><%= prod.price %>$</span>
                                 <!-- <div class="add-cart">
                                                           
                                </div>  -->
                            </div>
                        </td>
                        <td class="role">
                          <p><%= prod.price %></p> 
                        </td>
                        <td class="role">
                            <p><%= prod.type %></p> 
                          </td>
                        <td class="role">
                            <input type="number" value="<%= prod.amount %>" onchange="editCart(this.value,'<%= prod.id%>')"/>
                        </td>
                        <!-- <td class="edit"><a href="/admin/editprod/<%=prod._id%>">Edit</a></td> -->
                        <td>  <i class='bx bxs-message-alt-x' onclick="removeFromCart('<%= prod.id%>')"></i></td> 
                    </tr>
                    <!-- <div class = "purchase-info"> -->
                    
                       
                    </div>
                    <% }) %>
                    <tr>
                      <td  class="people">Total:</td>
                      <td  colspan="3"></td>

                      <td><%= total %>$</td>
                    </tr>   
               </tbody>
            
            </table>
            <div class = "purchase-info"> <button type = "button" class = "btn"  onclick="buyOrder()"> Buy Now</button></div>
           

            <% } else { %>
              <p>There are no Products to display...</p>
          <% } %>
    </div>                
    </section>
    <!-- Link JS -->
    <script src="/js/main.js"></script>

  </body>
</html>
