<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->
    <link rel="stylesheet" href="/css/adminDashboard.css" />
  </head>

  <body>
    <%- include('./partials/aside.ejs')%>
    
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Edit Product</h2>
          <form action="/admin/editing/<%=editprod._id%>" method="post" >
          ID:<input type="text" class="field"  placeholder="<%=editprod.id%>" disabled/>
          Name:<input type="text" name="name" class="field"  value="<%=editprod.name%>" />
          Price:<input type="text" name="price" class="field"  value="<%=editprod.price%>" />
          Quantity:<input type="text" name="quan" class="field"  value="<%=editprod.Quantity%>" />
          <input type="submit" calss="btn" value="EDIT">            
          </form>
          
        </div>
      </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>

  </body>
</html>