<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>

    <!-- Box Icons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- Styles  -->

    <link rel="stylesheet" href="/css/adminDashboard.css" />
    
  </head>

  <body>
    <%- include('./partials/aside.ejs')%>

    <!-- ============= Home Section =============== -->
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Add User</h2>
          <form action="/admin/editing/<%=edituser.id%>" method="post">
           UserName: <input type="text"   name="username" class="field" value="<%=edituser.username%>" />
           Email:    <input type="text"   name="Email"    class="field" value="<%=edituser.Email%>" disabled />
           Phone:    <input type="text"   name="phone"    class="field" value="<%=edituser.phonee%>" />
           Address:  <input type="text"   name="address"  class="field" value="<%=edituser.address%>" />
                     <input type="submit" class="btn" value="Save Changes">
          </form>
        

        
          
        </div>
      </div>
    </section>
    <script src="/js/adminDashboard.js"></script>
    
    
  </body>
</html>