<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/product-details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "/images/<%=prod.image%>" class="img">
              
            </div>
          </div>
          
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title"><%=prod.name%></h2>
          

          <div class = "product-price">
            <!-- <p class = "last-price">Old Price: <span>$257.00</span></p> -->
            <p class = "new-price"> Price: <span><%=prod.price%>$</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
            <ul>
              
              <li>Available: <span style="color: red;"><%=prod.Quantity%> Left!</span></li>
              <li>Category: <span><%=prod.type%></span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

         
              <!-- <select>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
              </select> -->
           

          <div class = "purchase-info">
            <input type="number" value="<%= prod.amount %>" onchange="editCart(this.value,'<%= prod.id%>')"/>
            <button type = "button" class = "btn">
              Add to Cart <i class = "fas fa-shopping-cart" onclick="addToCart('<%= prod._id %>')"></i>
            </button>
             
          </div>

          
        </div>
      </div>
    </div>

    
    <!-- <script src="/js/prod-details.js"></script> -->
    <script src="/js/main.js"></script>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>