<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-Local-WareHouse|Ecommerce Website design</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    input.sb {
        width: 410px;
        border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    padding-right: 60px;
    margin-bottom:10px ;
    margin-left: 75%;
    margin-top: 1%;
    box-shadow: 2px 2px 2px #000;        
        
        
    }
    div.ss{
      
   
    margin-bottom:10px ;
    margin-left: 75%;
    margin-top: 1%;
    color: #000;
    }
    </style>


<body>
    <script>
        const product = require('../models/productschema');
const table=document.querySelectorAll('.search');



function sendData(e) {
    const searchResults = document.getElementById("searchResults");
    let match = e.value.match(/^[a-zA-Z]*/);
    let match2 = e.value.match(/^\s*/);
    
    if (match2&&match2[0] == e.value) {
        searchResults.innerHTML = '';
        return;
        
    }
    if (match&&match[0] == e.value) {
        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ payload: e.value })
        }).then(res => res.json())
        .then(data => {
            let payload = data.payload;
            searchResults.innerHTML = '';
            if (payload.length < 1) {
                searchResults.innerHTML = '<p>Sorry. Nothing Found</p>';
                return;
            }
            payload.forEach(async (product, index) => {
                if (index > 0) searchResults.innerHTML += '<hr>';
                
                 const productLink = document.createElement('a');
                 productLink.innerHTML = `<p>${product.name}</p>`;
                productLink.href = `/product/product-details/${product._id}`;
            
            
                searchResults.appendChild(productLink);
                searchResults.innerHTML += `<p>${product.price}"$"</p>`;
          });

        });
        return;
    }
    searchResults.innerHTML = '';
}
    </script>
   <!-- the head bar (account/wishlist/cart) -->
   
   <%- include("./partials/navbar.ejs") %>
 

        <!--shop-->
        
        <section class="shop container">
            <input type="text" id="search-box" class="sb" placeholder="search" onkeyup=" return sendData(this)"><br><br>
        <div id="searchResults" class="ss"></div>
                <div class="filter">
                    <a href="/product"><button class="all">All</button></a>
                    <a href="/product/Cargos"><button class="cargos">Cargos </button></a>   
                    <a href="/product/Tshirts"><button class="Tshirts">Tshirts</button></a>
                    <a href="/product/Hoodies"><button class="Hoodies">Hoodies</button></a>
                </div>
                <br>
                <h2 class="section-title">All Products</h2> 
                <!--content-->
                <% if (product.length> 0) { %>
                    <div class="shop-content">
                        <% product.forEach((prod, index) => { %>
                           <a href="/product/product-details/<%=prod._id%>" style="color:black;"> <div class="product-box">
                                <img src="/images/<%= prod.image %>" alt="" class="img"></a>
                                <h2 class="product-title"><%= prod.name %></h2>
                                <span class="price"><%= prod.price %>$</span><br>
                                <span style="color: red; font-style: italic;">Hurry, only <%=prod.Quantity%> left!</span>
                                <div class="add-cart">
                                    <i class='bx bxs-shopping-bag-alt'  onclick="addToCart('<%= prod._id %>')"></i>
                                    <i class="bx bx-heart" onclick="addToWishlist('<%= prod._id %>')"></i>
                                </div>
                            </div>
                            <% if ((index + 1) % 3 === 0) { %>
                                </div>
                                <div class="shop-content">
                            <% } %>
                        <% }) %>
                    </div>
                <% } else { %>
                    <p>There are no products to display...</p>
                <% } %>
   <br>
   <br>
   <br>
   <br>
   <br>


   <div class="pagination">
    <a href="#" class="prev">&laquo; Before</a>
    <a href="#https://www.w3schools.com/" class="page active">1</a>
    <a href="#" class="page">2</a>
    <a href="#" class="page">3</a>
    <a href="#" class="page">4</a>
    <a href="#" class="page">5</a>
    <a href="#" class="next">After &raquo;</a>
    </div>

    </section>

        <%- include("./partials/footer.ejs") %>
        
       

    <script src="/js/main.js"></script>
    

    
</body>
</html>
